@charset "utf-8"; 

/* FONT */

/* @font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url('../font/`') format('woff'),
  url('../font/NotoSansCJKkr-Regular.otf') format('opentype'),
  url('../font/NotoSansCJKkr-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  src: url('../font/NotoSansCJKkr-Medium.woff') format('woff'),
  url('../font/NotoSansCJKkr-Medium.otf') format('opentype'),
  url('../font/NotoSansCJKkr-Medium.ttf') format('truetype');
}
@font-face {
  font-family:'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src: url('../font/NotoSansCJKkr-Bold.woff') format('woff'),
  url('../font/NotoSansCJKkr-Bold.otf') format('opentype'),
  url('../font/NotoSansCJKkr-Bold.ttf') format('truetype');
} */