@charset "utf-8";

@import url(reset.css);
@import url(common.css);

html,body {
  min-width: 1280px;
}
.wrap {
  position: relative;
  margin: 0 auto;
  width: 1200px;
}

header {
  height: 40px;
  background-color: #282828;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header span.update {
  padding: 0 10px;
  font-size: 14px;
  color: #93a9fc;
}
/* header .logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: url(../images/logo.png) center center no-repeat #fff;
  background-size: cover;
} */

main section:not(.top) {
  padding:100px 0;
  min-height: 1200px;
}
main section h3.title {
  margin-bottom: 60px;
  font-size: 36px;
  font-weight: 900;
}
main section.top {
  height: 1200px;
  background: url(../images/introBg.png) bottom center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
main section.top .wrap {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
}
main section.top .logo {
  margin: 40px;
  width: 60px;
  height: 60px;
  /* background-color: #597c94;
  border: 1px solid #2c597b;
  border-radius: 50%;
  font-family: "Dancing Script", cursive;
  font-weight: 600;
  font-size: 24px;
  color: #fff; */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #fff;
  border-radius: 50%;
  font-size: 0;
  z-index: 1;
}
main section.top .logo::before {
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  background: url(../images/logo.png) center center no-repeat;
  background-size: cover;
  border-radius: 50%;
  content: "";
  z-index: -1;
}
main section.top .textBox {
  padding-bottom: 100px;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
main section.top .textBox h2 {
  margin-bottom: 20px;
  font-size: 80px;
  font-weight: 700;
}
main section.top .textBox p {
  margin-top: 30px;
  font-size: 36px;
}
main section.top .slide {
  width: 100%;
  height: 200px;
}
main section.top .slide ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  height: 100%;
}
main section.top .slide ul li {
  width: auto !important;
}
main section.top .slide ul li img {
  height: 60px;
}
main section.top .slide ul li img.ico_jquery,
main section.top .slide ul li img.ico_slack {
  height: 46px;
}
main section.work {}
main section.work dl {
  margin-left: 100px;
  display: flex;
  gap: 30px;
}
main section.work dl + dl {
  margin-top: 50px;
}
main section.work dt {
  font-size: 18px;
}
main section.work dd .company {
  font-size: 20px;
  font-weight: 600;
}
main section.work dd .list {
  margin-top: 20px;
}
main section.work dd .list li {
  position: relative;
  padding-left: 10px;
  font-size: 16px;
  color: #706f6f;
  line-height: 30px;
}
main section.work dd .list li::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 0;
  width: 5px;
  height: 1px;
  background-color: #706f6f;
}
main section.project {
  background-color: #f4f4f4;
}
main section.project .moveTop {
  position: fixed;
  bottom: 110px;
  right: 30px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #aeaeae;
  background-color: #f4f4f4;
  z-index: 1;
  cursor: pointer;
}
main section.project .list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
main section.project .list li {
  padding: 20px;
  background-color: #fff;
  border: 1px solid #aeaeae;
  border-radius: 12px;
}
main section.project .list .info {
  padding-bottom: 10px;
  border-bottom: 1px solid #d3d3d3;
}
main section.project .list .info .tit {
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  width: 344px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
main section.project .list .info .date {
  padding: 10px 0;
  font-size: 12px;
  color: #737272;
  display: block;
}
main section.project .list .thumb {
  position: relative;
  margin-top: 8px;
  height: 240px;
  background-color: #f9f9f9;
  display: block;
  /* align-items: center;
  justify-content: center; */
  overflow: hidden;
}
main section.project .list .thumb::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content:"";
}
main section.project .list .thumb > img {
  display: block;
}
main section.project .list .thumb.pc::before {
  background: url(../images/projectBg1.png) center center no-repeat;
  background-size: auto 100%;
}
main section.project .list .thumb.mo::before {
  background: url(../images/projectBg2.png) center center no-repeat;
  background-size: auto 100%;
}
main section.project .list .thumb.pc > img {
  margin: 41px auto 0;
  width: 265px;
}
main section.project .list .thumb.mo > img {
  margin: 20px auto 0;
  width: 100px;
}
main section.project .list .tech {
  margin-top: 10px;
}
main section.project .list .tech span {
  padding: 0 5px;
  height: 24px;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: #fff;
  background: #555;
}
main section.project .list .tech span.responsive {
  background-color: #007AFF;
}
main section.project .list .tech span.html {
  background-color: #e44d26;
}
main section.project .list .tech span.css {
  background-color: #264de4;
}
main section.project .list .tech span.sass {
  background-color: #bf4080;
}
main section.project .list .tech span.jquery {
  background-color: #0769ad;
}
main section.project .list .tech span.javascript {
  background-color: #f7e018;
  color: #282828;
}
main section.project .list .tech span.vue {
  content:"Vue";
  background-color: #42b883;
  /* background-color: #33a06f; */
}
main section.project .list .tech span.react {
  content:"React";
  background-color: #087ea4;
}
main section.project .list .tech span.typescript {
  content:"TypeScript";
  background-color: #3178c6;
}
main section.project .list .tech span.node {
  content:"Node";
  background-color: #417e38;
}
main section.project .list .tech span.webpack {
  content:"Webpack";
  background-color: #2b3a42;
}
main section.project .list .tech span.java {
  content:"Java";
  background-color: #e11f21;
}
main section.project .list .tech span.spring {
  content:"Spring";
  background-color: #74b33b;
}
main section.project .list .tech span.mysql {
  content:"MySQL";
  background-color: #00758f;
}
main section.project .list .tech span.mariadb {
  content:"MariaDB";
  background-color: #003545;
}
main section.project .list .tech span.photoshop {
  /* background-color: #31a8ff; */
  background-color: #001e36;
  color: #31a8ff;
}
main section.project .list .tech span.illustrator {
  /* background-color: #ff9a00; */
  background-color: #330000;
  color: #ff9a00;
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  border-top: 1px solid #e0e0e0;
}